{% extends "layouts/auth.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="d-flex flex-column p-2 align-items-center justify-content-center h-100">
	<div class="card w-100" style="max-width: 400px;">
		<div class="card-header">Connexion</div>
			<div class="card-body">
				<form method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					{% if error %}
						<div class="notification is-danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="username" name="_username" value={{ last_username }}>
						<label for="username">Nom d'utilisateur</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="password" name="_password">
						<label for="password">Mot de passe</label>
					</div>
					<span>Pas de compte ? <a href="{{ path('app_register') }}" class="text-decoration-none">S'inscrire</a></span>
					<button type="submit" class="btn btn-dark float-end">Connexion</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}


