<form method="post" action="{{ path('app_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet élément ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn {{ buttonClass|default('p-0') }}">
        <i class="bx bx-trash me-1"></i>Delete
    </button>
</form>
